<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      http-equiv="X-UA-Compatible"
      content="ie=edge"
    />
    <link
      href="/css/output.css"
      rel="stylesheet"
    />
    <title>Add Product</title>
  </head>

  <body>
    <header class="bg-green-500">
      <nav>
        <ul class="flex gap-4 p-4 hover:[&>*]:text-gray-500">
          <li><a href="/">Shop</a></li>
          <li><a href="/admin/add-product">Add Product</a></li>
        </ul>
      </nav>
    </header>

    <main class="p-4">
      <h1 class="text-2xl font-semibold">My Products</h1>
      <p>List of all the products...</p>
    </main>
  </body>
</html>
